# Salin file ini menjadi ".env" (untuk lokal) lalu isi nilai di bawah.
# Untuk deploy di Vercel, isi variabel yang sama di:
# Project Settings -> Environment Variables

VITE_SUPABASE_URL=https://jkyongfvxotfsjfhcnzr.supabase.co
VITE_SUPABASE_ANON_KEY=isi-anon-key-supabase-anda-di-sini
